.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  vertical-align: middle;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  }

  &--default {
    color: @text-color-light;
    background-color: #ffffff;
    border-color: @border-color-light;

    &:hover,
    &:focus {
      background-color: darken(#ffffff, 10%);
    }
  }

  &--primary {
    color: #ffffff;
    background-color: lighten(@text-border-color, 5%);
    border-color: @text-border-color;

    &:hover,
    &:focus {
      background-color: darken(@text-border-color, 2%);
    }
  }

  &--success {
    color: #ffffff;
    background-color: lighten(@color-success, 15%);
    border-color: @color-success;

    &:hover,
    &:focus {
      background-color: darken(@color-success, 1%);
    }
  }

  &--info {
    color: #ffffff;
    background-color: lighten(@text-border-color, 15%);
    border-color: @text-border-color;

    &:hover,
    &:focus {
      background-color: darken(@text-border-color, 1%);
    }
  }

  &--warning {
    color: #ffffff;
    background-color: lighten(@outline-color, 20%);
    border-color: @outline-color;

    &:hover,
    &:focus {
      background-color: darken(@outline-color, 1%);
    }
  }

  &--danger {
    color: #ffffff;
    background-color: lighten(@color-red, 15%);
    border-color: @color-red;

    &:hover,
    &:focus {
      background-color: darken(@color-red, 1%);
    }
  }

  &:disabled {
    background-color: lighten(@text-color-light, 50%);
    border-color: @text-color-light;
    color: @text-color-light;
  }

  &--xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  &--sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  &--lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
  }
}
