.parent__cat {
  width: 220px;
  margin: 0 auto;
}

.eye {
  animation: eye 4s;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes eye {
  0% {
    transform: scale(1, 1);
  }

  36% {
    transform: scale(1, 1);
  }

  38% {
    transform: scale(1, 0);
  }

  42% {
    transform: scale(1, 0);
  }

  44% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.ear {
  animation: ear 7s;
  animation-iteration-count: infinite;
  transform-origin: center;
}

.ear1 {
  animation: ear 7s;
  animation-delay: 300ms;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes ear {
  0% {
    transform: scale(1, 1);
  }

  37% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1, 0);
  }

  43% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.body_background {
  background-image: url("../img/hero_mob.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.body_background--paralax {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/hero_mob_paralax.png");
  background-image: url("../img/hero_mob_paralax.webp");
  background-position: center top;
  min-height: 100vh;
  opacity: 0.45;
}

@media (min-width: 768px) {
  .body_background {
    background-image: url("../img/hero.jpg");
    background-image: url("../img/hero.webp");
  }

  .body_background--paralax {
    background-image: url("../img/hero_paralax.png");
    background-image: url("../img/hero_paralax.webp");
  }
}

.body_background::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.page-header--lending {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}

@media (max-width: 767px) {
  .page-header--lending {
    padding-top: 185px;
    padding-bottom: 120px;
  }

  .page-header--lending .page-header__button-nav-toggle {
    top: 15px;
    right: 15px;
    background-color: transparent;
  }

  .page-header--lending .page-header__block-nav--opened {
    position: absolute;
    top: 0;
  }
}

.page-header--lending .page-header__nav-link {
  font-weight: normal;
  text-align: center;
}

.page-header--lending .page-header__nav-link:hover {
  opacity: 0.8;
  color: #000000;
}

.page-header--lending .page-header__logo-text:hover {
  color: #ffffff;
}

.page-header--lending .page-header__block-logo {
  margin-right: 30px;
}

.page-header--lending .page-title {
  background-image: none;
  min-height: auto;
  text-align: center;
}

@media (min-width: 768px) {
  .page-header--lending .page-header__block-nav {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.page-header--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-header--footer .page-header__block-nav {
  display: inline-block;
  position: inherit;
  text-align: center;
}

.page-header--footer .page-header__nav-item {
  display: inline;
}

.page-header--footer .page-header__nav-link {
  display: inline-block;
  padding: 10px;
}

section.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 768px) {

  section.container,
  .page-header--lending {
    min-height: 100vh;
  }
}

main {
  z-index: 1;
  background-color: #ffffff;
}
