body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.list-rezet {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  position: relative;
}

.hidden {
  display: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

button,
input,
select {
  appearance: none;
}

a,
button,
input,
svg {
  transition: 200ms;
  outline-color: @outline-color;
}

a {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: @text-border-color;

  &:hover {
    color: @text-color-light;
  }

  &:active {
    opacity: 0.7;
  }
}

.section-header {
  margin: 0;
  padding: 40px 0 20px;
  border-bottom: 1px solid @border-color-light;
  font-size: 24px;
  color: @text-color-light;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}

.page-text {
  margin: 0;
  padding: 5px 0 10px;
}

.page-link {
  color: @color-red;

  &:hover,
  &:active {
    color: @text-border-color;
  }

  &:active {
    opacity: 0.7;
  }
}

.cite {
  font-size: 14px;
  font-style: italic;
}
