@color-theme: #013e01;
@color-theme-warning: #ffff00;
@color-theme-error: #ff0000;
@min-width-tablet: 768px;
@max-width-mobile: 767px;
@max-width-tablet: 1199px;
@min-width-desktop: 1200px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
