<header class="page-header container page-header--nojs">
  <div class="page-header__block-logo">
    <a href="index.html" class="page-header__logo-text">
      <svg width="60" height="60" class="page-header__logo-svg">
        <use xlink:href="#cat-logo"></use>
      </svg>
      uzinok.ru
    </a>
  </div>
  <button class="page-header__button-nav-toggle page-header__button-nav-toggle--closed">
    <span class="visually-hidden">открыть/закрыть меню</span>
  </button>
  <nav class="page-header__block-nav page-header__block-nav--closed">
    <ul class="page-header__nav-list list-rezet">
      <li class="page-header__nav-item"><a href="/authorisation.html" class="page-header__nav-link">Авторизация</a></li>
      <li class="page-header__nav-item"><a href="/demo-js.html" class="page-header__nav-link">Демки JS </a></li>
      <li class="page-header__nav-item"><a href="/demo-html-css-js.html" class="page-header__nav-link">Демки CSS </a></li>
      <li class="page-header__nav-item"><a href="/canvas_test.html" class="page-header__nav-link">Демки canvas</a></li>
      <li class="page-header__nav-item"><a href="/svg.html" class="page-header__nav-link">Демки SVG</a></li>
    </ul>
  </nav>
</header>
