<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link href="http://uzinok.ru/img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="http://uzinok.ru/img/favicon.ico" type="image/x-icon">
<meta itemprop="image" content="http://uzinok.ru/img/cat-logo_64.png" />
<meta name="twitter:image:src" content="http://uzinok.ru/img/cat-logo_64.png" />
<meta property="og:image" content="http://uzinok.ru/img/cat-logo_64.png" />

<link rel="stylesheet" href="css/style.css" type="text/css">

<link rel="preload" href="fonts/Robotocondensed.woff2" as="font">
<link rel="preload" href="fonts/Robotocondensedlight.woff2" as="font">
<link rel="preload" href="fonts/Roboto.woff2" as="font">
<link rel="preload" href="fonts/Robotolight.woff2" as="font">

