.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 0 0;

  @media (min-width: @min-width-tablet) {
    flex-direction: row;
  }
}
.testimonial__avatar {
  display: block;
  margin: 0 auto 15px;
  width: 100px;
  height: 100px;
  background-image: url(../img/default-avatar.png);
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: @min-width-tablet) {
    margin: auto 0;
  }
}

.testimonial__info {
  display: block;
  margin: 0;
  // FOR TABLET DESCTOP
  @media (min-width: @min-width-tablet) {
    padding: 0 0 0 15px;
  }
}

.testimonial__text {
  position: relative;
  margin: 0 1em;
  padding: 0;
  display: block;
  font-size: 17px;

  &::before,
  &::after {
    color: #c03035;
    font-size: 1.5em;
  }
}

.testimonial__address {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: italic;
  font-size: 13px;
  text-align: right;
}
