.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.page-header__logo-text {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-transform: lowercase;
  font-weight: 300;
  text-decoration: underline;
}

.page-header__logo-svg {
  fill: #303030;
  
  &:hover,
  &:focus,
  &:active {
    color: #00aeef;
    fill: #00aeef;
  }
}

.page-header__logo-cat,
.page-header__logo-pupils,
.page-header__logo-ear {
  fill: #404040;
}

.page-header__logo-moustache {
  stroke: #404040;
}

.page-header__button-nav-toggle {
  display: none;
}

.page-header__nav-link {
  display: block;
  padding: 10px 0;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  font-family: "Roboto Condensed", "Arial", sans-serif;

  &:hover,
  &--active {
    color: #00aeef;
  }
}
// FOR MOBILE
@media (max-width: @max-width-mobile) {
  .page-header__button-nav-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 30px;
    width: 44px;
    height: 34px;
    border: 1px solid #00aeef;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: none;
    outline-color: #d29948;
  }

  .page-header__block-nav {
    display: none;

    &--opened {
      display: block;
    }

  }

  .page-header__button-nav-toggle--closed {

    &::before,
    &::after {
      content: "";
      display: block;
      width: 32px;
      height: 1px;
      position: absolute;
      left: 5px;
      background-color: #00aeef;
    }

    &::before {
      top: 7px;
      box-shadow: 0 8px 0 #00aeef;
    }

    &::after {
      bottom: 7px;
    }
  }

  
  .page-header__button-nav-toggle--opened {

    &::before,
    &::after {
      content: "";
      display: block;
      width: 32px;
      height: 1px;
      position: absolute;
      left: 5px;
      background-color: #00aeef;
    }

    &::before {
      top: 15px;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 15px;
      transform: rotate(-45deg);
    }
  }

  .page-header {
    flex-direction: column;
    padding: 15px;

    &--nojs {

      .page-header__button-nav-toggle {
        display: none;
      }

      .page-header__block-nav {
        display: block;
        width: 100%;
        padding: 15px 0 0;
      }
    }
  }

  .page-header__nav-item {
    display: block;
  }

  .page-header--footer {

    .page-header__block-nav,
    .page-header__logo-text {
      display: none;
    }
  }
}
// FOR TABLET + DESKTOP
@media (min-width: @min-width-tablet) {
  .page-header {
    align-items: center;
    padding: 30px 15px;
  }

  .page-header__nav-list {
    display: flex;
  }

  .page-header__nav-link {
    padding: 10px 20px;
  }
}